* {
  margin: 0;
  height: 0;
  box-sizing: border-box;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.main {
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main2 {
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main3 {
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.main4 {
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}